<canvas class="webgl" tpath="<%= path %>assets/images/threeCanvas/shape01.png"></canvas>
<div class="bgcircle">
  <!--?xml version="1.0" encoding="UTF-8"?--><svg id="_レイヤー_1" class="bgcircle-circle1" style="opacity:0;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 548.354 548.354">
    <defs>
      <linearGradient id="_名称未設定グラデーション_3" x1="449.197" y1="63.12" x2="99.157" y2="485.234" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#fff84a"></stop>
        <stop offset="1" stop-color="#ffb11f"></stop>
      </linearGradient>
    </defs>
    <circle cx="274.177" cy="274.177" r="267.677" fill="none" stroke="url(#_名称未設定グラデーション_3)" stroke-miterlimit="10" stroke-width="5" class="svg-elem-1"></circle>
  </svg>
  <!--?xml version="1.0" encoding="UTF-8"?-->
  <!-- <svg id="_レイヤー_1" class="bgcircle-circle2" style="opacity:0;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 440.008 440.008">
    <defs>
      <linearGradient id="_名称未設定グラデーション_11" x1="72.068" y1="198.803" x2="510.806" y2="165.231" gradientTransform="translate(271.607 -119.706) rotate(130.624) scale(1 -1)" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#ffc695"></stop>
        <stop offset="1" stop-color="#ff7ca4"></stop>
      </linearGradient>
    </defs>
    <path d="M80.018,383.188c90.124,77.312,225.858,66.925,303.17-23.199,41.268-48.106,57.548-109.208,50.052-167.483-6.547-50.899-31.233-99.642-73.251-135.686C269.865-20.492,134.132-10.106,56.82,80.018-20.492,170.142-10.106,305.876,80.018,383.188Z"
      fill="none" stroke="url(#_名称未設定グラデーション_11)" stroke-width="10" class="svg-elem-2"></path>
  </svg> -->
  <svg id="_レイヤー_1" class="bgcircle-circle2" style="opacity:0;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 440.008 440.008">
    <defs>
      <linearGradient id="_名称未設定グラデーション_11" x1="72.068" y1="198.803" x2="510.806" y2="165.231" gradientTransform="translate(271.607 -119.706) rotate(130.624) scale(1 -1)" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#ffc695"></stop>
        <stop offset="1" stop-color="#ff7ca4"></stop>
      </linearGradient>
    </defs>
    <path d="M80.018,383.188c90.124,77.312,225.858,66.925,303.17-23.199,41.268-48.106,57.548-109.208,50.052-167.483-6.547-50.899-31.233-99.642-73.251-135.686C269.865-20.492,134.132-10.106,56.82,80.018-20.492,170.142-10.106,305.876,80.018,383.188Z" fill="none" stroke="url(#_名称未設定グラデーション_11)" stroke-miterlimit="10" stroke-width="10" class="svg-elem-2"></path>
  </svg>
</div>
