<% const info={ title : "採用情報 | 募集要項/選考の流れ" , desc : "採用情報 | 募集要項/選考の流れページです" , css: "../../../" }; %>
  <%- include("../../../include/_head",{meta: info}) -%>
    <div class="l-wrap">
      <!-- 閉じタグは_footer.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../../../assets/images/"]%>
        <%- include("../../../include/_header", {path: '../../../' }) -%>
          <button class="c-toUpBtn js-toUpBtn u-zindex_10"></button>
          <main class="l-main">
            <header class="p-singleHeader">
              <div class="p-singleHeader-inner">
                <h2 class="p-singleHeader-title">
                  <span class="p-singleHeader-title-main">RECRUIT</span>
                  <span class="p-singleHeader-title-sub">採用情報</span>
                  <span class="p-singleHeader-title-sub">募集要項 / 選考の流れ</span>
                </h2>
              </div>
              <!-- /.p-singleHeader-inner -->
            </header>
            <section class="p-recruitSingle">
              <div class="p-recruitSingle-inner">
                <div class="p-recruitSingle-intro">
                  <ul class="p-recruitSingle-intro-tags">
                    <li class="p-recruitSingle-intro-tag">エンジニア</li>
                    <li class="p-recruitSingle-intro-tag">正社員</li>
                  </ul>
                  <h3 class="p-recruitSingle-intro-title">データサイエンティスト(エンジニア)</h3>
                  <div class="p-recruitSingle-intro-content">
                    <p>当社が提供するスマートフォンゲームの</p>
                    <p> ・KPIやログの設計<br> ・ツールやSQL等を用いたデータ集計<br> ・データの可視化<br> ・分析レポート作成<br>
                    </p>
                    <p>その他、データ分析に基づく課題発見・仮説立案・検証や制作チームへの施策提案や統計解析や機械学習の専門的知識を活用したモデリングが主な業務内容となります。</p>
                  </div>
                </div>
                <!-- /.p-recruitSingle-intro -->
                <div class="p-recruitSingle-content">
                  <div class="p-recruitSingle-info">
                    <dl class="p-recruitSingle-info-list">
                      <dt class="p-recruitSingle-info-term">募集拠点</dt>
                      <dd class="p-recruitSingle-info-desc">
                        <p>カカリアスタジオ（京都オフィス）京都府京都市下京区立売西町82 京都恒和ビル</p>
                      </dd>
                    </dl>
                    <dl class="p-recruitSingle-info-list">
                      <dt class="p-recruitSingle-info-term">必須スキル・経験</dt>
                      <dd class="p-recruitSingle-info-desc">
                        <ul>
                          <li>BigQueryでデータを参照、集計ができる方</li>
                          <li>window関数を扱える方（ドキュメントを見ながらで可）</li>
                          <li>基本統計量のうち代表値（平均値、中央値、最頻値）と分散/標準偏差の説明ができる方</li>
                          <li>ExcelやSpreadsheetでデータの可視化ができる方・簡単な回帰分析ができる方</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl class="p-recruitSingle-info-list">
                      <dt class="p-recruitSingle-info-term">歓迎スキル・経験</dt>
                      <dd class="p-recruitSingle-info-desc">
                        <ul>
                          <li>PythonやRでデータの可視化ができる方</li>
                          <li>ベイズ統計の知識がある方</li>
                          <li>主要な確率分布に関する知識がある方</li>
                          <li>階層ベイズモデルのモデリング経験がある（ツール問わず）</li>
                          <li>主要な回帰/クラス分類系の機械学習アルゴリズムを、前処理を含め実行できる方</li>
                          <li>機械学習モデルの特徴量重要度を抽出/可視化できる方</li>
                          <li>ゲームプランナー経験がある方 <em>（ゲーム内のユーザー行動やイベントスケジュールと、集計したログやデータの時系列を一致させられ、分析したデータの報告だけでなく、その結果がゲームタイトルとして何の意味があり何をすべきかまで提案された経験）</em>
                          </li>
                        </ul>
                      </dd>
                    </dl>
                    <dl class="p-recruitSingle-info-list">
                      <dt class="p-recruitSingle-info-term">求める人物像</dt>
                      <dd class="p-recruitSingle-info-desc">
                        <ul>
                          <li>ゲームが好きで、普段から様々なタイトルをプレイされている方</li>
                          <li>コミュニケーションが得意な方</li>
                          <li>他者の意見を素直に聞き入れ、柔軟に対応できる方</li>
                          <li>インプットし続けている方</li>
                          <li>率先して、積極的に動ける方</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl class="p-recruitSingle-info-list">
                      <dt class="p-recruitSingle-info-term">勤務時間</dt>
                      <dd class="p-recruitSingle-info-desc">
                        <p>＜コアタイムフレックス制＞</p>
                        <ul>
                          <li>標準勤務時間帯：10:00～19:00</li>
                          <li>コアタイム：11:00～16:00</li>
                          <li>標準労働時間：8時間/日</li>
                          <li>休憩時間：60分</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl class="p-recruitSingle-info-list">
                      <dt class="p-recruitSingle-info-term">休日・休暇</dt>
                      <dd class="p-recruitSingle-info-desc">
                        <ul>
                          <li>完全週休2日制（土・日）</li>
                          <li>祝日、有給休暇（入社初年度は10日間）</li>
                          <li>夏季・年末年始休暇</li>
                          <li>出産・育児休暇</li>
                          <li>慶弔休暇</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl class="p-recruitSingle-info-list">
                      <dt class="p-recruitSingle-info-term">想定給与</dt>
                      <dd class="p-recruitSingle-info-desc">
                        <ul>
                          <li>前職給与を参考に経験・能力等を考慮の上、当社規定により優遇致します。<strong>みなし残業手当42時間/月を含む。超過分は別途支給。</strong></li>
                          <li>試用期間：3ヶ月</li>
                        </ul>
                      </dd>
                    </dl>
                    <dl class="p-recruitSingle-info-list">
                      <dt class="p-recruitSingle-info-term">待遇</dt>
                      <dd class="p-recruitSingle-info-desc">
                        <ul>
                          <li>交通費：全支給（最大3万円/月まで）</li>
                          <li>徒歩・自転車通勤手当（月1万円）</li>
                          <li>各種社会保険完備</li>
                          <li>引越手当支給<em>当HPから直接ご応募頂いた方限定で、入社時に京都市外から1か月の定期代が1万円以内の京都市内に引越される場合、引越手当として一律20万円を支給</em></li>
                          <li>業績に応じたインセンティブ制度あり</li>
                          <li>昇給：年1回（3月）</li>
                        </ul>
                        <p>【就業場所における屋内の受動喫煙対策】</p>
                        <ul>
                          <li>内容：喫煙室あり（喫煙専用室設置）</li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                  <!-- /.p-recruitSingle-info -->
                  <div class="p-recruitSingle-flow">
                    <div class="p-recruitSingle-flow-inner">
                      <h3 class="p-recruitSingle-flow-title">選考の流れ</h3>
                      <ul class="p-recruitSingle-flow-list">
                        <li class="p-recruitSingle-flow-item">
                          <dl class="p-recruitSingle-flow-item-list">
                            <dt class="p-recruitSingle-flow-item-term">書類選考</dt>
                            <dd class="p-recruitSingle-flow-item-desc">履歴書、職務経歴書を元に書類審査をさせていただきます。1週間程度で採用担当者より結果をお知らせします。</dd>
                          </dl>
                        </li>
                        <li class="p-recruitSingle-flow-item">
                          <dl class="p-recruitSingle-flow-item-list">
                            <dt class="p-recruitSingle-flow-item-term">面接</dt>
                            <dd class="p-recruitSingle-flow-item-desc">オフィスにお越し頂き、面接を行って頂きます。1週間程度で採用担当者より結果を お知らせします。</dd>
                          </dl>
                        </li>
                        <li class="p-recruitSingle-flow-item">
                          <dl class="p-recruitSingle-flow-item-list">
                            <dt class="p-recruitSingle-flow-item-term">採用</dt>
                            <dd class="p-recruitSingle-flow-item-desc">採用決定後、入社日などを相談いたします。</dd>
                          </dl>
                        </li>
                      </ul>
                      <a class="c-jumpBtn p-recruitSingle-flow-btn" href="">応募する<span></span></a>
                    </div>
                    <!-- /.p-recruitSingle-flow-inner -->
                  </div>
                  <!-- /.p-recruitSingle-flow -->
                </div>
                <!-- /.p-recruitSingle-content -->
                <div class="p-recruitSingle-return">
                  <div class="c-returnBtn">
                    <span class="c-returnBtn-wrap"><a href="../" class="c-returnBtn-btn"></a></span>
                    <p class="c-returnBtn-text">INDEX</p>
                  </div>
                </div>
              </div>
              <!-- /.p-recruitSingle-inner -->
            </section>
          </main>
          <%- include("../../../include/_footer", {js: "../../../" }) -%>
