<% const info={ title : "職種紹介｜採用情報｜Happy Elements株式会社" , desc : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。各職種の特徴について社員自らの声でお伝えするブログコンテンツです。" , css: "../" }; %>
  <%- include("../include/_head",{meta: info}) -%>
    <div class="l-wrap">
      <!-- 閉じタグは_footer.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../assets/images/"]%>
        <%- include("../include/_header", {path: '../' }) -%>
          <%- include("../include/_threecanvas", {path: '../' }) -%>
            <main class="l-main">
              <section class="p-indexHeader">
                <div class="p-indexHeader-inner">
                  <div class="p-indexHeader-title--row">
                    <h2 class="p-indexHeader-title-main">
                      <ul class="p-indexHeader-title-fonts js-title">
                        <li class="p-indexHeader-title-font js-title-font">J</li>
                        <li class="p-indexHeader-title-font js-title-font">O</li>
                        <li class="p-indexHeader-title-font js-title-font">B</li>
                        <li class="p-indexHeader-title-font js-title-font">S</li>
                      </ul>
                    </h2>
                    <h3 class="p-indexHeader-title-sub">職種紹介</h3>
                  </div>
                  <!-- /.p-indexHeader-title -->
                </div>
                <!-- /.p-indexHeader-inner -->
              </section>
              <section class="p-cultureLead">
                <h3 class="p-cultureLead-title">社員が語る<br>仕事内容・おもしろさ。</h3>
                <p class="p-cultureLead-txt">デザイナーやプログラマーなど一口に言っても、その役割や仕事内容などは会社によってさまざま。ここでは、Happy Elements株式会社の社員がどういうやりがいを感じながら、どうゲームづくりに取り組んでいるのかなど、社員の声でお伝えします。</p>
              </section>
              <div class="p-jobsSearch-fix js-accordion">絞り込む</div>
              <div class="p-jobsSearc-sp">
                <section class="p-jobsTab">
                  <div class="p-jobsTab-wrap">
                    <p class="p-jobsTab-name">職種</p>
                    <ul class="p-jobsTab-list">
                      <li><input class="p-jobsTab-item planner" type="checkbox" id="tab01" value=""><label for="tab01">プランナー</label></li>
                      <style>
                        .p-jobsTab-item.planner+label {
                          color: #2FD193;
                          border-color: #2FD193;
                        }

                        .p-jobsTab-item.planner:checked+label {
                          color: #fff;
                          background-color: #2FD193;
                        }

                        @media print, screen and (min-width: 1201px){
                          .p-jobsTab-item.planner:hover+label {
                          color: #fff;
                          background-color: #2FD193;
                        }
                        }
                      </style>

                        <li><input class="p-jobsTab-item writer" type="checkbox" id="tab02" value=""><label for="tab02">ライター</label></li><style>.p-jobsTab-item.writer+label {
                          color: #B385F4;
                          border-color: #B385F4;
                        }

                        .p-jobsTab-item.writer:checked+label {
                          color: #fff;
                          background-color: #B385F4;
                        }

                        @media print, screen and (min-width: 1201px){
                          .p-jobsTab-item.writer:hover+label {
                            color: #fff;
                            background-color: #B385F4;
                          }
                        }

                      </style>
                      <li><input class="p-jobsTab-item engineer" type="checkbox" id="tab03" value=""><label for="tab03">エンジニア</label></li>
                      <style>
                        .p-jobsTab-item.engineer+label {
                          color: #19b8ff;
                          border-color: #19b8ff;
                        }

                        .p-jobsTab-item.engineer:checked+label {
                          color: #fff;
                          background-color: #19b8ff;
                        }

                        @media print, screen and (min-width: 1201px){
                          .p-jobsTab-item.engineer:hover+label {
                          color: #fff;
                          background-color: #19b8ff;
                        }
                        }

                      </style>
                      <li><input class="p-jobsTab-item designer" type="checkbox" id="tab04" value=""><label for="tab04">デザイナー</label></li>
                      <style>
                        .p-jobsTab-item.designer+label {
                          color: #FF4EA0;
                          border-color: #FF4EA0;
                        }

                        .p-jobsTab-item.designer:checked+label {
                          color: #fff;
                          background-color: #FF4EA0;
                        }

                        @media print, screen and (min-width: 1201px){
                          .p-jobsTab-item.designer:hover+label {
                          color: #fff;
                          background-color: #FF4EA0;
                        }
                        }

                      </style>
                      <li><input class="p-jobsTab-item illustrator" type="checkbox" id="tab05" value=""><label for="tab05">イラストレーター </label></li>
                      <style>
                        .p-jobsTab-item.illustrator+label {
                          color: #FF4EA0;
                          border-color: #FF4EA0;
                        }

                        .p-jobsTab-item.illustrator:checked+label {
                          color: #fff;
                          background-color: #FF4EA0;
                        }

                        @media print, screen and (min-width: 1201px){
                          .p-jobsTab-item.illustrator:hover+label {
                          color: #fff;
                          background-color: #FF4EA0;
                        }
                        }
                      </style>
                      <li><input class="p-jobsTab-item etc" type="checkbox" id="tab06" value=""><label
                          for="tab06">その他</label></li>
                      <style>
                        .p-jobsTab-item.etc+label {
                          color: #ff9d00;
                          border-color: #ff9d00;
                        }

                        .p-jobsTab-item.etc:checked+label {
                          color: #fff;
                          background-color: #ff9d00;
                        }

                        @media print, screen and (min-width: 1201px){
                          .p-jobsTab-item.etc:hover+label {
                          color: #fff;
                          background-color: #ff9d00;
                        }
                        }

                        .p-jobsPanel-category.etc {
                          color: #ff9d00;
                          border-color: #ff9d00;
                        }

                        @media print, screen and (min-width: 1201px){
                          a.p-jobsPanel-category.etc:hover {
                          color: #fff;
                          background-color: #ff9d00;
                        }
                        }

                        .p-jobsLower-cate.etc {
                          color: #ff9d00;
                          border-color: #ff9d00;
                        }
                      </style>
                    </ul>
                  </div>
                  <div class="p-jobsTab-wrap">
                    <p class="p-jobsTab-name">ジャンル</p>
                    <ul class="p-jobsTab-list">
                      <li><input class="p-jobsTab-item" type="checkbox" id="tab07" value=""><label for="tab07">仕事内容</label></li>
                      <li><input class="p-jobsTab-item" type="checkbox" id="tab08" value=""><label for="tab08">コラム</label></li>
                      <li><input class="p-jobsTab-item" type="checkbox" id="tab09" value=""><label for="tab09">エピソード</label></li>
                    </ul>
                  </div>
                </section>
                <!-- <section class="p-jobsSearch"> -->
                <!-- <div class="p-jobsSearch-btn">絞り込む</div> -->
                <!-- <div class="p-jobsSearch-lift">全ての選択を解除</div> -->
                <!-- </section> -->
                <section class="p-jobsSearch">
                  <button type="submit">
                    <div class="p-jobsSearch-btn">絞り込む</div>
                  </button>
                  <button type="reset">
                    <div class="p-jobsSearch-lift">全ての選択を解除</div>
                  </button>
                </section>
              </div>
              <section class="p-jobsPanel">
                <div class="p-jobsPanel-number">
                  <p>12件</p>
                  <p>全40件</p>
                </div>
                <ul class="p-jobsPanel-list">
                  <li class="p-jobsPanel-item js-content-show">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt"> ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</span>
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</span>
                        <span class="p-jobsPanel-category">コラム</span>
                        <span class="p-jobsPanel-category" style="color: #B385F4;border-color: #B385F4;">ライター</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item js-content-show">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt"> ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">イラストレーター</span>
                        <span class="p-jobsPanel-category">エピソード</span>
                        <span class="p-jobsPanel-category" style="color: #2FD193;border-color: #2FD193;">プランナー</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item js-content-show">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt"> ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</span>
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</span>
                        <span class="p-jobsPanel-category">コラム</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item js-content-show">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt"> ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</span>
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</span>
                        <span class="p-jobsPanel-category">コラム</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item js-content-show">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt"> ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</span>
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</span>
                        <span class="p-jobsPanel-category">コラム</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item js-content-show">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt"> ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</span>
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</span>
                        <span class="p-jobsPanel-category">コラム</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item js-content-show">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt"> ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</span>
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</span>
                        <span class="p-jobsPanel-category">コラム</span>
                        <span class="p-jobsPanel-category" style="color: #B385F4;border-color: #B385F4;">ライター</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item js-content-show">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt"> ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">イラストレーター</span>
                        <span class="p-jobsPanel-category">エピソード</span>
                        <span class="p-jobsPanel-category" style="color: #2FD193;border-color: #2FD193;">プランナー</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item js-content-show">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt"> ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</span>
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</span>
                        <span class="p-jobsPanel-category">コラム</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item js-content-show">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt"> ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</span>
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</span>
                        <span class="p-jobsPanel-category">コラム</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item js-content-show">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt"> ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</span>
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</span>
                        <span class="p-jobsPanel-category">コラム</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item js-content-show">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt"> ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</span>
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</span>
                        <span class="p-jobsPanel-category">コラム</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item js-content-show">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt"> ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</span>
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</span>
                        <span class="p-jobsPanel-category">コラム</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </section>
              <section class="p-jobPager">
                <div class="p-jobPager-arrow prev">
                </div>
                <ul class="p-jobPager-num">
                  <li><a href="" class="p-jobPager-link">1</a></li>
                  <li><a href="" class="p-jobPager-link is-active">2</a></li>
                  <li><a href="" class="p-jobPager-link">3</a></li>
                  <li><a href="" class="p-jobPager-link">4</a></li>
                </ul>
                <div class="p-jobPager-arrow next">
                </div>
              </section>
            </main>
            <%- include("../include/_footer", {js: "../" }) -%>
