<% const info={ title : "職種紹介｜採用情報｜Happy Elements株式会社" , desc : "京都に主要拠点に、モバイルゲームの開発・運営を行うHappy Elements株式会社の採用情報サイトです。各職種の特徴について社員自らの声でお伝えするブログコンテンツです。" , css: "../../" }; %>
  <%- include("../../include/_head",{meta: info}) -%>
    <div class="l-wrap">
      <!-- 閉じタグは_footer.ejs -->
      <!-- 画像相対パス(dist参照) -->
      <% const path=["../../assets/images/"]%>
        <%- include("../../include/_header", {path: '../../' }) -%>
          <%- include("../../include/_threecanvas", {path: '../../' }) -%>
            <main class="l-main p-jobsMain">
              <section class="p-jobsLower">
                <div class="p-jobsLower-head"><em>JOBS</em>
                  <p>職種紹介</p>
                </div>
                <div class="p-jobsLower-kv">
                  <img src="https://placehold.jp/1984x840.png" alt="">
                </div>
                <div class="p-jobsLower-ttlwrap">
                  <div class="p-jobsLower-catewrap">
                    <div class="p-jobsLower-cate" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</div>
                    <div class="p-jobsLower-cate" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</div>
                  </div>
                  <h1 class="p-jobsLower-ttl">「アニメーションデザイナー」の仕事紹介！_h1</h1>
                </div>
                <div class="p-jobsLower-cont">
                  <h2>はじめに_h2</h2>
                  <p><strong>「アニメ」という単語を聞くと、「キャラクターを何枚も描いて動かす仕事」というイメージされるかと思います。 ですが、いわゆるTVアニメのような作画アニメーションを制作するわけではありません。</strong></p>
                  <p><strong>カカリアスタジオにおけるアニメーションデザイナーは、主に イラスト素材を用いた2Dアニメーションの制作 をする職種のことを指します。</strong></p>
                  <p><strong>ほかにもカカリアスタジオにはアニメーションに関わる職種として、Live2Dデザイナー、3DCGデザイナー があります。</strong></p>
                  <p><strong>ゲームの中で走ったり攻撃したり踊ったりアピールしたり……<br> さまざまな場面で目にする機会が多いんじゃないかなと思います。</strong></p>
                  <p><strong>カカリアスタジオの強みのひとつである2Dイラスト。<br> その良さを活かしてアニメーションを制作しています。_太字</strong></p>
                  <h2>アニメーションデザイナー_h2</h2>
                  <img src="https://placehold.jp/1360x850.png" alt="">
                  <h3>主なツール_h3</h3>
                  <p>SpriteStudio/ Spine / Unity / After Effects など</p>
                  <h3>仕事内容の例_h3</h3>
                  <p>2Dキャラクターモーションやエフェクト制作<br>ゲーム内のアニメーション演出の制作など</p>
                  <h2>エフェクト制作_h2</h2>
                  <p>キャラクターアニメーションに欠かせない エフェクト制作 。<br> キャラクターの 動作や攻撃の威力を伝えるための効果 や、画面全体にかかる効果など を制作しています。<br> 使用ツールは SpriteStudio や Unity です。</p>
                  <img src="https://placehold.jp/1360x850.png" alt="">
                  <ul>
                    <li>カメラワーク_リスト</li>
                    <li>カメラワーク_リスト</li>
                    <li>カメラワーク_リスト</li>
                  </ul>
                  <h2>キャラクターモーション制作_h2</h2>
                  <p>2Dイラストをそのまま使うため、<br> パーツアニメーション でキャラクターを動かしています。</p>
                  <h3>主なツール_h3</h3>
                  <p>SpriteStudio/ Spine /</p>
                  <div class="is-layout-flex wp-container-4 wp-block-columns">
                    <div class="is-layout-flow wp-block-column">
                      <figure class="wp-block-image size-large"><img src="https://placehold.jp/952x952.png" alt=""></figure>
                    </div>
                    <div class="is-layout-flow wp-block-column">
                      <figure class="wp-block-image size-large"><img src="https://placehold.jp/952x952.png" alt=""></figure>
                    </div>
                  </div>
                  <ol>
                    <li>静と動でいう 動の印象 にするために地面をしっかりめに蹴る_数字付きリスト</li>
                    <li>衣装の見映えを損なわないポーズで手を動かす</li>
                    <li>髪の毛を ふわふわ とさせて女の子らしさを出す</li>
                  </ol>
                  <img src="https://placehold.jp/1884x952.png" alt="" class="large">
                  <h2>3DCGデザイナー</h2>
                  <p>主に <strong>3DCGに関わる全ての作業をする</strong> 仕事です。</p>
                  <p>「あんさんぶるスターズ！！」MVのカメラワークの話はアドベントカレンダー5日目、<br>MVの演出ついては6日目の記事にて紹介中です。<br>3DCGデザイナーの仕事内容を知りたい方はこちらの記事をご覧ください！</p>
                  <iframe src="https://www.youtube.com/embed/bjmBJ1Fl0cs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="p-jobsLower-profile">
                  <div class="p-jobsLower-profile-head">記事を書いた人</div>
                  <div class="p-jobsLower-profile-pct">
                    <img src="https://placehold.jp/300x300.png" alt="">
                  </div>
                  <div class="p-jobsLower-profile-desc">
                    <em>NAME : Y.U</em>
                    <p>チーフプランナー＆メルクストーリア・分析チーム・サウンドチーム グループリーダー</p>
                  </div>
                </div>
                <a href="" class="p-jobsLower-twitter"><i><svg xmlns="http://www.w3.org/2000/svg" width="18.2" height="14.8">
                      <path data-name="パス 9287" d="M5.7 14.8A10.5 10.5 0 0 0 16.3 4.2v-.5a7.6 7.6 0 0 0 1.9-2 7.6 7.6 0 0 1-2.2.6 3.7 3.7 0 0 0 1.7-2 7.6 7.6 0 0 1-2.4.9 3.7 3.7 0 0 0-6.5 2.5 3.4 3.4 0 0 0 .1.9 10.6 10.6 0 0 1-7.6-4 3.7 3.7 0 0 0 1.1 5 3.7 3.7 0 0 1-1.7-.4 3.7 3.7 0 0 0 3 3.7 3.7 3.7 0 0 1-1 .1A3.6 3.6 0 0 1 2 9a3.7 3.7 0 0 0 3.5 2.6A7.5 7.5 0 0 1 1 13a6.8 6.8 0 0 1-.9 0 10.4 10.4 0 0 0 5.7 1.7" fill="#fff" />
                    </svg></i>ツイート</a>
              </section>
              <section class="p-jobsConnection">
                <h3 class="p-jobsConnection-ttl">関連記事</h3>
                <ul class="p-jobsPanel-list">
                  <li class="p-jobsPanel-item">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt">ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</span>
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</span>
                        <span class="p-jobsPanel-category">コラム</span>
                        <span class="p-jobsPanel-category" style="color: #B385F4;border-color: #B385F4;">ライター</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt">ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">イラストレーター</span>
                        <span class="p-jobsPanel-category">エピソード</span>
                        <span class="p-jobsPanel-category" style="color: #2FD193;border-color: #2FD193;">プランナー</span>
                      </div>
                    </a>
                  </li>
                  <li class="p-jobsPanel-item">
                    <a href="" class="p-jobsPanel-link">
                      <div class="p-jobsPanel-pct">
                        <img src="https://placehold.jp/620x400.png" alt="">
                      </div>
                      <div class="p-jobsPanel-txtwrap">
                        <div class="p-jobsPanel-txt">ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話ラストピリオドのモンスター制作の話</div>
                      </div>
                      <div class="p-jobsPanel-catewrap">
                        <span class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;">エンジニア</span>
                        <span class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;">デザイナー</span>
                        <span class="p-jobsPanel-category">コラム</span>
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="p-jobsConnection-btm">
                  <p>関連タグ検索</p>
                  <div class="p-jobsPanel-catewrap--link">
                    <a href="" class="p-jobsPanel-category" style="color: #19B8FF;border-color: #19B8FF;" onMouseOut="this.style.background='#fff';this.style.color='#19B8FF';" onMouseOver="this.style.background='#19B8FF';this.style.color='#fff'">エンジニア</a>
                    <a href="" class="p-jobsPanel-category" style="color: #FF4EA0;border-color: #FF4EA0;" onMouseOut="this.style.background='#fff';this.style.color='#FF4EA0';" onMouseOver="this.style.background='#FF4EA0';this.style.color='#fff'">デザイナー</a>
                    <a href="" class="p-jobsPanel-category">コラム</a>
                  </div>
                </div>
                <div class="p-jobsConnection-top">
                  <a href=""></a>
                  <span>INDEX</span>
                </div>
              </section>
            </main>
            <%- include("../../include/_footer", {js: "../../" }) -%>
